* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root{
    height: 100vh;
    
}

#root{
    display: flex;
    flex-direction:column ;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: black;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
    color: white;
}

a{
    padding: 1rem;
    text-decoration: none;
    color: white;
    justify-content: space-between;
    align-items: center;
}

a:hover{
    background-color: rgb(43, 43, 43);
    border-radius: 10%;
    color: gray;
}

main{
    padding: 1rem;
    flex-grow: 1;
}
.Greeting{
    text-align: center;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 0.5rem;
}

#loading{
    font-size: 2em;
    text-align: center;
}

#contador-card{
    padding: auto;
    margin: 2em;
    display: flex;
    text-align: center;
    border-radius: 5px;
    justify-content: space-between;
    width: 250px;

}